:host {
  height: 129px;
  width: 340px;

}

.background {
}

.graph-container {
  height: 129px;
  width: 340px;
  background: url("client/assets/images/graph-1.png");
  position: relative;
}

.graph-1 {
  position: absolute;
  left: 19px;
  top: 12px;
}

.graph-2 {
  position: absolute;
  right: 19px;
  top: 12px;
}

::ng-deep .radialNormal svg{
  transform: translateX(2px);
}
::ng-deep .radialReversed svg{
  transform: scale(-1, 1) translateX(2px);
}

//.radialReversed .apex
